.productForm{
    position: absolute;
    width: 50%;
    top: 15%;
    background-color: white;
    left: 30%;
    /* transform: translateX(-50%); */
    border: 3px solid black;
    padding: 5px 30px;
    border-radius: 5px;
    animation: scaleProdForm 0.5s ease-in;
  }
  .productFormButton{
    color: goldenrod;
    /* background-color: green; */
    border: 1px solid goldenrod;
  }
  .productFormButton:hover{
    /* border: none; */
    border: 1px solid black;
    color: black;
  }
  .productFormClose{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 35px;
    color: darkred;
    cursor: pointer;
    padding: 4px 15px;
  }
  .productFormClose:hover{
    color: red;
  }
  
  .productFormInput{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px;
  }
  .productAddButton{
    background-color: goldenrod;
    color: white;
    box-sizing: border-box;
  }
  .productAddButton:hover{
    border: 2px solid black;
  }
  @keyframes scaleProdForm{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1)
    }
  }

  /* .dashboardContainer{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
  } */

  .ulStyles{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: rgb(1, 1, 32); */
    background: linear-gradient(130deg,gold 10%, rgb(82, 72, 15) 65%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%
  }
  .liStyles{
    margin: 10px 0;
    /* border: 1px solid white; */
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
  }
  .liStyles:hover{
    /* background-color: rgb(42, 42, 94); */
    background-color: rgba(0, 0, 0, 0.8);
  }
  .headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mainSection{
    padding: 0 30px;
    width: 75%;
    margin-left: 20%;
    box-sizing: border-box;
  }
  .prodContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    margin-top: 30px;
  }
  .prodCard{
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px grey
    /* padding: 18px; */
  }
  .prodCardBtn{
    display: block;
    color: white;
    /* background-color: rgb(3, 3, 61); */
    background-color: goldenrod;
    width: 100%;
    border-radius: 0;
    margin-top: 19px;
  }
  .prodCardBtn:hover{
    background-color: gold;
    border: none;
  }
  .prodDetailModal{
    position: fixed;
    top: 3%;
    left: 30%;
    background-color: white;
    width: 50%;
    border: 3px solid yellowgreen;
    border-radius: 5px;
    padding: 30px;
    color: rgb(223, 163, 11)
  }
  .owCard{
    border: 1px solid rgb(161, 180, 122);
    padding: 6px 13px;
    background: linear-gradient(130deg,gold 10%, rgb(82, 72, 15) 65%);
    color: white;
    /* width: 10%;
    height: 10%; */
    border-radius: 5px;
    text-align: center;
  }
  .customerFormStyle{
    width: 50%;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: white;
    z-index: 18;
  }
  .prodDetX{
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 13px;
    color: #f44336;
    padding: 8px 18px;
  }
  .prodDetX:hover{
    border: 1px solid #f44336;
  }
  .customerBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
  }
  .indCustStyle{
    /* text-align: center;  */
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey; 
    padding: 6px;
    border-radius: 4px;
    margin: 7px 0;
    align-items: center;
  }
  .owNumber{
    display: inline-block; 
    margin-left: 18px; 
    color: white; 
    background-color: red; 
    border-radius: 50%;
    font-weight: bold;
    padding: 8px 5px;
    font-size: 13px;
  }
  .customerUpdateStyle{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    background-color: white;
    padding: 19px;
    border: 1px solid goldenrod;
  }
  .customerLink:hover{
    color: black;
  }
  .overViewBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .scrollStyle{
    scrollbar-color: blue white; 
    height: 60vh; 
    overflow-y: scroll;
  }

  .debtLimitStyle{
    border-radius: 5px;
    padding: 5px;
    height: 80px;
  }

  .updateProductBtn:hover{
    color: greenyellow
  }
  .deleteProductBtn:hover{
    color: red
  }

  .homeBackgroundImg{
    background-image: url("/backImage.jpg");
    height: 100vh;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -450px;
    position: relative;
  }
  .homeBackgroundOverlay{
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    /* border: 3px solid yellow; */
    /* width: 100%; */
  }

  .loginBtnStyle{
    border: 2px solid goldenrod; 
    border-radius: 5px;
    padding: 8px 10px
  }

  .loginBtnStyle:hover{
    color: goldenrod;
  }

  .hamburger{
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
    border: 3px solid goldenrod;
    padding: 0 3px;
    
  }
  .hamburger:hover .ham{
    background-color: darkred;
  }

  .ham{
    display: block;
    margin: 3px 0;
    width: 45px;
    height: 5px;
    background-color: black;
    z-index: 1300;
  }

  .closeSideNav{
    color: white; 
    position: absolute; 
    top: 6px; 
    right: 10px; 
    font-size: 30px;
    border: 1px solid white;
    padding: 0px 15px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  .closeSideNav:hover{
    color: red;
    border: 1px solid red;
  }

  .navBrandName{
    text-align: center; 
    margin: 65px 0 100px; 
    color: white;
  }
  .navBrandName:hover{ 
    color: gold;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .lowerLimitStyle{
    width: 50%; 
    margin: 10px auto 10px;
    display: none;
  }

  .homeSideNav{
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.97);
    transition: 0.5s ease-in-out;
    position: fixed;
    height: 100%;
    z-index: 50;
  }
  .homeNavClose{
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 40px;
    color: white;
  }
  .homeNavClose:hover{
    color: goldenrod;
  }
  .homeNavLi:hover{
    /* background-color: white; */
  }
  /* .scrollStyle{
    width: 80%;
    margin: 0 auto;
  } */

  .hamDiv{
    cursor: pointer;
  }
  .hamDiv:hover .hamSpan{
    background-color: gold;
  }
  .hamSpan{
    width: 40px;
    height: 5px;
    margin: 6px;
    background-color: goldenrod;
    display: block;
  }
  .customerLinkOpen{
    cursor: pointer;
    margin: 0;
  }
  .customerLinkOpen:hover{
    color: goldenrod;
  }

  .motto{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%)
  }
  .loginLinkStyle{
    position: absolute;
    top: 60%;
    width: 100%
  }
  .aboutContainer{
    padding-top: 10%;
  }

  @media screen and (max-width: 1250px){
    .homeBackgroundImg {
      background-position: 0px -250px;
    }
    /* .prodContainer{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 130px;
    } */
  }
  @media screen and (max-width: 1100px){
    .prodContainer{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 100px;
    }
    .customerBox{
      /* justify-content: center; */
      /* grid-template-columns: 1fr 1fr; */
      grid-column-gap: 10px;
    }
    .homeBackgroundImg{
      background-position: 0px -50px;
    }
    .overViewBox{
      justify-content: center;
      grid-template-columns: 1fr;
      grid-column-gap: 10px;
    }
    .debtLimitStyle{
      display: none;
    }
    .lowerLimitStyle{
      display: block;
    }
    .headerContainer{
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 900px){
    .overViewBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
    .homeBackgroundImg{
      background-position: 0px -20px;
      height: 70vh;
    }
    .prodContainer{
      grid-gap: 50px;
    }
    .mainSection{
      margin-left: 0;
      margin: 0 auto;
      width: 90%
    }
    .ulStyles{
      width: 40%;
    }
    .scrollStyle{
      width: 100%;
    }
    .dashNavCont{
      position: relative;
      /* top: 40px; */
      right: -80px;
    }
    .closeSideNav{
      display: block;
    }
    .motto{
      top: 40%;
    }
    .aboutContainer{
      padding-top: 30%;
    }
    .customerFormStyle{
      left: 20%;
    }
    .customerUpdateStyle{
      left: 20%;
    }
    .productForm{
      left: 20%;
    }
    .prodDetailModal{
      left: 20%;
    }
    .lowerLimitStyle{
      width: 80%; 
      margin: 10px auto 10px;
    }
    .hamburger{
      top: 25px;
      left: 20px;
    }
    .ham{
      width: 35px;
      height: 3px;
    }
    .productFormClose{
      font-size: 25px;
      padding: 3px 10px;
    }
    .productAddButton{
      display: inline-block;
      margin-top: 20px;
    }
    .productForm{
      /* transform: translateX(-50%); */
      border: none;
      left: 10%;
      padding: 5px 4px;
      width: 80%;
    }
  }
  @media screen and (max-width: 800px){
    .overViewBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
    .homeBackgroundImg{
      background-position: 0px -130px;
    }
    .prodContainer{
      grid-gap: 20px;
    }
    .loginLinkStyle{
      top: 70%;
    }
    .ulStyles{
      width: 50%;
    }
  }
  @media screen and (max-width: 700px){
    .prodContainer{
      grid-template-columns: repeat(1, 1fr);
      padding-right: 20px;
    }
    .homeBackgroundImg{
      background-position: 0px 0px;
    }
    .customerBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
    .overViewBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
    .gridContainer{
      /* grid-template-columns: 30% 60%; */
      width: 90%;
    }
    .mainSection{
      width: 80%
    }
    .aboutContainer{
      padding-top: 30%;
    }
    .owCard{
      padding: 1px 4px;
      width: 120px;
      height: 120px;
    }
    .customerFormStyle{
      left: 17%;
    }
    .customerUpdateStyle{
      left: 17%;
    }
    .productForm{
      left: 10%;
    }
    .prodDetailModal{
      left: 17%;
    }
    /* .mainSection{
      margin-left: 0;
      margin-right: 0; 
    } */
  }
  @media screen and (max-width: 600px){
    .homeBackgroundImg{
      background-position: 0px -0px;
    }
  }