.productForm{
    position: absolute;
    width: 50%;
    top: 20%;
    background-color: white;
    left: 30%;
    /* transform: translateX(-50%); */
    border: 3px solid black;
    padding: 5px 30px;
    border-radius: 5px;
    animation: scaleProdForm 0.5s ease-in;
  }
  .productFormButton{
    color: green;
    /* background-color: green; */
    border: 1px solid green;
  }
  .productFormClose{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 35px;
    color: darkred;
    cursor: pointer;
    padding: 4px 15px;
  }
  .productFormClose:hover{
    color: red;
  }
  
  .productFormInput{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
  }
  .productAddButton{
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
  }
  .productAddButton:hover{
    border: 2px solid black;
  }
  @keyframes scaleProdForm{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1)
    }
  }

  /* .dashboardContainer{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
  } */

  .ulStyles{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(1, 1, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%
  }
  .liStyles{
    margin: 10px 0;
    /* border: 1px solid white; */
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
  }
  .liStyles:hover{
    background-color: rgb(42, 42, 94);
  }
  .headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mainSection{
    padding: 0 30px;
    width: 75%;
    margin-left: 20%;
  }
  .prodContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    margin-top: 30px;
  }
  .prodCard{
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px grey
    /* padding: 18px; */
  }
  .prodCardBtn{
    display: block;
    color: white;
    background-color: rgb(3, 3, 61);
    width: 100%;
    border-radius: 0;
    margin-top: 19px;
  }
  .prodCardBtn:hover{
    background-color: rgb(5, 5, 104);
    /* border: none; */
  }
  .prodDetailModal{
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: white;
    width: 30%;
    border: 3px solid yellowgreen;
    border-radius: 5px;
    padding: 30px;
  }
  .owCard{
    border: 1px solid rgb(161, 180, 122);
    padding: 6px 13px;
    background-color: teal;
    color: white;
    /* width: 10%;
    height: 10%; */
    border-radius: 5px;
    text-align: center;
  }
  .customerFormStyle{
    width: 50%;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: white;
    z-index: 18;
  }
  .prodDetX{
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 13px;
    color: #f44336;
    padding: 8px 18px;
  }
  .prodDetX:hover{
    border: 1px solid #f44336;
  }
  .customerBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
  }
  .indCustStyle{
    /* text-align: center;  */
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey; 
    padding: 6px;
    border-radius: 4px;
    margin: 7px 0;
    align-items: center;
  }
  .owNumber{
    display: inline-block; 
    margin-left: 18px; 
    color: white; 
    background-color: red; 
    border-radius: 50%;
    font-weight: bold;
    padding: 8px 5px;
    font-size: 13px;
  }
  .customerUpdateStyle{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    background-color: white;
    padding: 19px;
    border: 1px solid greenyellow;
  }
  .customerLink:hover{
    color: black;
  }
  .overViewBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .scrollStyle{
    scrollbar-color: blue white; 
    height: 60vh; 
    overflow-y: scroll;
  }

  .debtLimitStyle{
    border-radius: 5px;
    padding: 5px;
    height: 80px;
  }

  .updateProductBtn:hover{
    color: greenyellow
  }
  .deleteProductBtn:hover{
    color: red
  }

  .homeBackgroundImg{
    background-image: url("/backImage.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -450px;
    position: relative;
  }
  .homeBackgroundOverlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    /* opacity: 0.6; */
  }
  .homeBackgroundImg::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: black;
  }

  .loginBtnStyle{
    border: 2px solid gold; 
    border-radius: 5px;
    padding: 8px 10px
  }

  .loginBtnStyle:hover{
    color: gold;
  }
  
  @media screen and (max-width: 1100px){
    .customerBox{
      /* justify-content: center; */
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
    }
    .overViewBox{
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
    }
    .debtLimitStyle{
      display: none;
    }
    .headerContainer{
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 900px){
    .overViewBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 700px){
    .customerBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
    .overViewBox{
      /* justify-content: center; */
      grid-template-columns: 1fr;
    }
    .gridContainer{
      /* grid-template-columns: 30% 60%; */
      width: 90%;
    }
  }